[profile.default]
src = "contracts"
evm_version = "shanghai"
out = "out"
libs = ["node_modules", "lib"]
test = "test"
fs_permissions = [{ access = "read-write", path = "./"}]

optimizer = true
optimizer_runs = 200
solc_version = "0.8.20"

# remove the hash of the metadata for more deterministic code 
bytecode_hash = 'none'

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options


[etherscan]
base = { key = "${MAINNET_ETHERSCAN_KEY}" }
linea = { key = "${MAINNET_ETHERSCAN_KEY}", chain = 59144 }
scroll = { key = "${MAINNET_ETHERSCAN_KEY}", chain = 534352 }
unichain = { key = "${MAINNET_ETHERSCAN_KEY}", chain = 130 }
berachain = { key = "${MAINNET_ETHERSCAN_KEY}", chain = 80094 }
op = { key = "${MAINNET_ETHERSCAN_KEY}", chain = 10 }
bnb = { key = "${MAINNET_ETHERSCAN_KEY}", chain = 56 }
