[profile.default]
src = "contracts"
evm_version = "shanghai"
out = "out"
libs = ["node_modules", "lib"]
test = "test"
fs_permissions = [{ access = "read-write", path = "./"}]

solc_version = "0.8.20"


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
