[profile.default]
src = "contracts"
evm_version = "shanghai"
out = "out"
libs = ["node_modules", "lib"]
test = "test"
fs_permissions = [{ access = "read-write", path = "./"}]

optimizer = true
optimizer_runs = 200
solc_version = "0.8.20"
bytecode_hash = 'none'


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
